<%- include("./includes/header") %>

</head>
<body id="land-pg">
    
    <div class="landing">
        <h1>The Bloggers</h1>
        <hr id="landing-hr">
        <button class="landing-btn"><a href="/landing/login" id="btn-to-link">Login</a></button>
        <button class="landing-btn"><a href="/landing/signup" id="btn-to-link">signup</a></button>
        <button class="landing-btn"><a href="/" id="btn-to-link">skip</a></button>
    </div>
</body>
</html>