<%- include("../includes/header") %>
</head>
<body>
    <% if(path !== "/landing/signup") { %>  
        <%- include("../includes/nav-bar") %>
    <% } %>
    <h1>Sign-up</h1>
    <hr>
    <form method="POST" action="/signup" class="form-control">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="fname">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lname">

        <label for="username">Set User Name</label>
        <input type="text" id="username" name="username">

        <label for="about">About</label>
        <textarea id="about" name="about"></textarea>

        <label for="imgUrl">Avatar Url</label>
        <input type="text" id="imgUrl" name="avatarUrl">
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <button type="submit">Submit</button>
    </form>
</body>
</html>